* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #040D05;
}

body {
    width: 80vw;
    max-width: 1140px;
    margin: 0 auto;
}

a:link {
    color: #040D05;
    text-decoration: none;
}

a:visited {
    color: #45594A;
}

a:focus {
    color: #294973;
    text-decoration: underline;
}
a:hover {
    color: #3973BF;
    text-decoration: underline;
}

a:active {
    color: #294973;
    text-decoration: underline;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 3rem;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 3rem;
}

h4 {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 1.2rem;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 1.5rem;
}

header {
    width: 100%;
    padding: 1rem 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav a {
    margin-right: 1rem;
}

nav a:last-child {
    padding: 14px 24px;
    background-color: #040D05;
    color: white;
    border-radius: 25px;
}

header .contact {
    margin-left: auto;
    margin-right: 0;
}


h1 strong {
    font-weight: 600;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    margin-top: 110px;
}

.description {
    min-width: 380px;
}

.about p {
    margin-bottom: 40px;
    max-width: 350px;
}

.about a {
    padding: 14px 24px;
    color: #040D05;
    background-color: #CEDEF2;
    border-radius: 25px;
}

.about a:hover {
    color: #CEDEF2;
    background-color: #040D05;
    text-decoration: none;
}

.portrait {
    margin-top: 50px;
    width: 550px;
    height: auto;
    padding-left: 20px;
}

.portfolio {
    width: 100%;
    margin-top: 110px;
}

.portContainers{
    margin-top: 80px;
    width: 100%;
    min-width: 818px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.portItem{
    width: 30%;
    height: 100%;
}

.portItem h3{
    padding: 10px;
    border-radius: 10px;
    background-color:#040D05;
    color: white;
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 200px;
}

.portItem h4 {
    position: relative;
    bottom: 60px;
}

.portImages{
    width: 250px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}

.portImages img {
    height: 100%;
    width: auto;
}

.itemTwo{
    margin-top: 55px;
}
.itemThree{
    margin-top: 110px;
}

.skills {
    margin-top: 50px;
}

.skillContainer {
    margin: 80px 0 110px;
    display: flex;
    flex-wrap: wrap;
}

.skillContainer h5 {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.skillContainer h5:first-child {
    background-color: #CEDEF2;
}

.skillContainer h5:nth-child(2) {
    background-color: #F2D3AC;
}

.skillContainer h5:nth-child(3) {
    background-color: #8C6046;
    color: white;
}

.skillContainer h5:nth-child(4) {
    background-color: #93A680;
}

.skillContainer h5:nth-child(5) {
    background-color: #040D05;
    color: white;
}

.skillContainer h5:nth-child(6) {
    background-color: #45594A;
    color: white;
}

.skillContainer h5:nth-child(6) {
    background-color: #294973;
    color: white;
}

.skillContainer h5:nth-child(7) {
    background-color: #45594A;
    color: white;
}

.skillContainer h5:nth-child(8) {
    background-color: #261911;
    color: white;
}

.skillContainer h5:nth-child(9) {
    background-color: #F0F2DF;
}

footer {
    width: 100vw;
    height: 20vh;
    position: absolute;
    left: 0;
    background-color: #040D05;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    display: inline-block;
    background-color: white;
    padding: 14px 24px;
    border-radius: 25px;
    color: #040D05;
    text-decoration: none;
}

@media only screen and (max-width: 950px) {
    p {
        font-size: 18px;
    }

    .about {
        flex-direction: column-reverse; 
    }

    .portrait {
        margin: 0 auto;
        width: 90vw;
        height: auto;
        padding-left: 0px;
        position: relative;
        right: 20px;
    }

    .portContainers {
        flex-direction: column; 
        width: 100%;
        min-width: 200px;
    }

    .itemTwo{
        margin-top: 20px;
    }
    .itemThree{
        margin-top: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 5rem;
    }

    h4 {
        font-size: 2rem;
    }

    .portItem{
        width: 100%;
    }

    .portImages{
        width: 80vw;
        height: 80vw;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
    }


    .portItem h3{
        padding: 10px 15px;
        bottom: 60px;
        left: 70vw;
    }

    .about p {
        max-width: 280px;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        font-size: .75rem;
    }

    .portItem h3{
        padding: 10px 15px;
        bottom: 60px;
        left: 60vw;
    }
    h3 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 300px) {
    nav {
        font-size: .5rem;
    }
    
    .portItem h3{
        padding: 10px 10px;
        bottom: 30px;
        left: 65vw;
    }

    .about p {
        max-width: 200px;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        margin-top: 20px;
    }

    .about {
        margin-top: 50px;
    }
}